Repository adapter-hub/adapters, pull requests merged in 2023-11, with the labels that each got.

#594 Automatically convert heads when loading with XAdapterModel
  src/adapters/heads/base.py
  src/adapters/loading.py
  tests_adapters/test_adapter_conversion.py
Labels: adapters-lib

#599 Fix training T5 adapter models with Trainer
  src/adapters/models/__init__.py
  src/adapters/models/t5/mixin_t5.py
Labels: bug, adapters-lib

#600 Make sure output embeddings are frozen when training adapters
  src/adapters/heads/base.py
  src/adapters/model_mixin.py
  tests_adapters/test_adapter_heads.py
Labels: adapters-lib

#598 Add Composition Support to LoRA and (IA)³
  docs/adapter_composition.md
  docs/index.rst
  src/adapters/composition.py
  src/adapters/methods/adapter_layer_base.py
  src/adapters/methods/lora.py
  src/adapters/models/albert/mixin_albert.py
  src/adapters/models/albert/modeling_albert.py
  src/adapters/models/bart/mixin_bart.py
  src/adapters/models/bart/modeling_bart.py
  src/adapters/models/beit/mixin_beit.py
  src/adapters/models/bert/mixin_bert.py
  src/adapters/models/bert/modeling_bert.py
  src/adapters/models/bert_generation/modeling_bert_generation.py
  src/adapters/models/clip/mixin_clip.py
  src/adapters/models/deberta/mixin_deberta.py
  src/adapters/models/deberta/modeling_deberta.py
  src/adapters/models/deberta_v2/mixin_deberta_v2.py
  src/adapters/models/deberta_v2/modeling_deberta_v2.py
  src/adapters/models/distilbert/mixin_distilbert.py
  src/adapters/models/distilbert/modeling_distilbert.py
  src/adapters/models/electra/modeling_electra.py
  src/adapters/models/gpt2/mixin_gpt2.py
  src/adapters/models/gptj/mixin_gptj.py
  src/adapters/models/gptj/modeling_gptj.py
  src/adapters/models/llama/mixin_llama.py
  src/adapters/models/llama/modeling_llama.py
  src/adapters/models/mbart/modeling_mbart.py
  src/adapters/models/roberta/modeling_roberta.py
  src/adapters/models/t5/mixin_t5.py
  src/adapters/models/t5/modeling_t5.py
  src/adapters/models/vit/mixin_vit.py
  src/adapters/models/vit/modeling_vit.py
  src/adapters/models/xlm_roberta/modeling_xlm_roberta.py
  src/adapters/models/xmod/modeling_xmod.py
  tests_adapters/composition/test_adapter_composition.py
Labels: adapters-lib

#607 Adding Prompt Tuning to Missing Tables
  README.md
  docs/adapter_composition.md
  docs/overview.md
Labels: documentation
